
.menu_block  {
	position: relative;
	z-index: 999;
	padding: 1px 0 1px;
	background: url(../images/me_block.png) 0 bottom repeat-x;
}

.menu_block>div {
		background: url(../images/m_top.png) 0 0 repeat-x;

}

nav>.sf-menu {
	text-align: center;
}
nav{ position:relative;padding: 0px 0 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li {float:left;position:relative; }
.sf-menu>li {
	float: left;
	position: relative;
	padding-top: 1px;
	background: url(../images/menu_separator.png) right 0 repeat-y;

}

.sf-menu>li:first-child>a {
		background: url(../images/menu_separator.png) 0 0 repeat-y;

}

.sf-menu>li>ul>li {
  float: none;
  position: static;
}



.sf-menu>li>a{
	font-size: 16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #635352;
	position: relative;
	display: block;
	text-transform: uppercase;
	padding: 26px 45px 24px;
	line-height: 18px;
	z-index: 999;
	position: relative;
	border-bottom: 1px solid transparent;
}

.sf-menu>li.with_ul>a:after {
	position: absolute;
	content: '';
	left: 50%;
	margin-left: -4px;
	width: 7px;
	background: url(../images/arrows.png) no-repeat 0 0;
	height: 5px;
	top: 45px;	
	pointer-events: none;
	z-index: 999;
}

.sf-menu>li.current>a:after, .sf-menu>li.sfHover>a:after   {
	background-position: 0 bottom;
}

.sf-menu>li.sfHover>a, .sf-menu>li.current>a, .sf-menu>li:hover>a:hover {
	border-color: #d16749 ;
	background: #ed7553;
	color: #fff;
}



.sf-menu>li>ul>li>a>span {
	position: absolute;
	width: 7px;
	background: url(../images/arrows.png) no-repeat 0 0;
	height: 5px;
	right: -10px;
	top: 12px;	
}

.sf-menu>li>ul>li.sfHover>a>span {
	background-position: right 0;
}




.sf-menu a{
	font-size: 16px; 
	line-height: 21px; 
	color:#fffefe;
}



/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover>ul{
	top:0px;
	margin-top: 70px;
	width: 121px;
	z-index: 999; 
	background: #fff;
	padding: 29px 12px 13px;



}
.sf-menu li ul li{
	text-align: center; 
	float: none !important; 
	border-bottom: 1px solid #d9dce1;
	padding-bottom: 2px;
	margin-bottom: 17px;
}

.sf-menu li ul li+li {
	margin-bottom: 18px;
}

.sf-menu li ul li a{
	font-size: 12px;
	color: #2a2a2a;
	text-transform: uppercase;
	padding: 8px 12px 10px 15px;
	line-height: 18px;
	position: relative;
}

.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a {  
	color: #af2e37;

}

/*================================>> 3 Level <<========================================*/
.sf-menu li.sfHover li.sfHover ul{
	width: 114px;
	top: -30px !important;
	left: 156px !important;
	text-align: center;
	background-color: #efefef;
}

.sf-menu li li ul li {
	text-align: center !important;
}

.sf-menu li li ul li a{
	padding-left: 0 !important;
	padding-right: 0 !important;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {

.sf-menu>li>a  {
	font-size: 12px;
	padding-left: 10px !important;
	padding-right: 10px !important;

}
}
@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		margin: 0 0px !important;	
		padding: 0px 0px 20px;
		clear: both;
	}

	.menu_block>div {
		padding-top: 10px;
	}

  header nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		
		width: 100%;
		margin: 0 auto;
		
	
	}
		nav:before{
			content:'Menu:';
			display:block;
			margin-bottom:5px;
			color: #46332C;
			
		}
	.sf-menu{display:none !important; float: none;}
	#mm0{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#202020;
		width:100%;
		margin: 0 auto;
		float: none;
    outline: none;
		border:2px solid #fff;
	}
	
	.search_block {
		padding-bottom: 10px !important;	
	}
}
